.header{
    min-height: 100vh;
    width: 100%;
    
    border-bottom: 2px solid #fcebe3;
    
    h1{
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        color: #4e4039;
    }

    h2{
        font-size: 24px;
        color: #a08f86;
        margin: 15px 0 0 0 ;
    }

    
}



.btn-get-started{
    font-family: 'Raleway', sans-serif;
    background-color: #eb5d1e;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    padding: 8px 28px;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: o.5s;
    margin-top: 30px;
    color: #fff;
    text-decoration: none;
}






