.navbar{
    background-color: white;
    color: $primary-color;
    height: 72px;
    z-index: 1;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.02);
    
    


   &-brand{
       color: $primary-color;
       font-size: 30px;
       font-weight: 400;

       &:hover{
        color:$primary-color ;
    }
   }

   


}


.nav-link{
        color: $primary-color;
}

.nav-link:hover{
    color: red;
}

.get-start{
    background-color: #eb5d1e;
    color: #fff;
    padding: 10px 25px;
    margin-left: 30px;
    border-radius: 50px;
    font-size: 15px;
    display: block;
    text-decoration: none;

    &:hover{
        background-color: #f19269;
        color: #fff;
        transition: 0.3s;
        transition-property: all;
        transition-timing-function: ease;

    }

}

.navbar-collapse{
    padding-left: 280px;
}

